<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 text-gray-800" data-controller="scroll-position">
    <header class="bg-white shadow mb-4 sticky top-0 z-10">
      <nav class="container mx-auto px-4 py-4 flex justify-between">
        <div class="space-x-4">
          <%= link_to "ホーム", root_path, class: "text-blue-500 hover:text-blue-700" %>
          <%= link_to "ユーザー一覧", users_path, class: "text-blue-500 hover:text-blue-700" %>
          <%= link_to "プロフィール", profile_path, class: "text-blue-500 hover:text-blue-700" %>
          <%= link_to "プロフィール（Turbo無効）", profile_path, data: { turbo: false }, class: "text-red-500 hover:text-red-700" %>
        </div>
      </nav>
    </header>
    <main>
      <%= turbo_frame_tag 'flash' %>
      <%= yield %>
    </main>
  </body>
</html>
